<%= stylesheet_link_tag 'front'%>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <div class="background">
  </div>
  <%= image_tag @image%>
<div id="loader">
  <br><br>
  <center><h3>Wait while,<br> Your online vet is checking your pet!</h3><center>
<br><br><br><br><br><br><br><br><br><br><br>
Till then increase your knowledge about your pet <br><br>
 <button id="myButton" class="button-53" role="button">Get Facts</button>
 <br>
  <b><div id="apiResponse"></div></b>
</div>

<section class="contain">
<div class="inside">
<div class="top">
  <%= image_tag 'logo.png',style:"width:200px;border-radius:10%;border-bottom-right-radius:10%;border-top-left-radius:10%;position:absolute;bottom:80%;right:80%;"%>
  <h1><b>
    <div style="width:100%;height:100%;font-family:'Playpen Sans',cursive;padding:30px;color:white; text-shadow: 0 0 3px #12486B, 0 0 5px #0000FF;">
      Devs 'N' Revs CARE
    </div>
    </b></h1>
</div>
  <div class="bottom">
 <!-- Bottom starts -->
  <%# <%= image_tag 'dog_doctor2.png',class:"dogdoctor" ,style:"width:50%;position:absolute;bottom:9%;right:80%;"%>
<div class="left-part">
</div>

<div class="right-part">

  <div class="">
    <p><b>Enter your pet details :</b></p>
    <div class="formy">
      <%= form_with(url: home_show_path(format: :pdf), method: :get) do |form| %>
        <div class="input-group mb-3">
          <span class="input-group-text">Pet Image :</span>
          <%= form.file_field :image, class: "form-control" %>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Pet Name :</span>
          <%= form.text_field :name, class: "form-control" %>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Pet Age :</span>
          <%= form.number_field :age, class: "form-control" %>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Pet Weight :</span>
          <%= form.number_field :weight, step: 'any', class: "form-control" %>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Pet Ac :</span>
          <%= form.select :activity, options_for_select([["Typical", "Typical"], ["Active", "Active"], ["Overweight", "Overweight"],
      ["Overweight", "Overweight"], ["Highly Active", "Highly Active"], ["Senior, neutered, inactive", "Senior, neutered, inactive"],
      ["Working Dog (light duty)", "Working Dog (light duty)"], ["Working Dog (moderate duty)", "Working Dog (moderate duty)"], ["Working Dog (heavy duty)", "Working Dog (heavy duty)"],]), {}, class: "custom-dropdown" %>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Pet Breed :</span>
          <%= form.select :breed, options_for_select([
   ["Australian Shepherd", "Australian Shepherd"],
   ["Basset Hound", "Basset Hound"],
   ["Bernedoodle", "Bernedoodle"],
   ["Bichon Frise", "Bichon Frise"],
   ["Boston Terrier", "Boston Terrier"],
   ["Boxer", "Boxer"],
   ["Boykin Spaniel", "Boykin Spaniel"],
   ["Cairn Terrier", "Cairn Terrier"],
   ["Cane Corso", "Cane Corso"],
   ["Cane Corso Puppy", "Cane Corso Puppy"],
   ["Catahoula Leopard", "Catahoula Leopard"],
   ["Chihuahua", "Chihuahua"],
   ["Corgi", "Corgi"],
   ["Dachshund", "Dachshund"],
   ["Doberman Pinscher", "Doberman Pinscher"],
   ["French Bulldog", "French Bulldog"],
   ["German Shepherd", "German Shepherd"],
   ["Golden Retriever", "Golden Retriever"],
   ["Goldendoodle", "Goldendoodle"],
   ["Havanese", "Havanese"],
   ["Jack Russell", "Jack Russell"],
   ["Labradoodle", "Labradoodle"],
   ["Labrador Retriever", "Labrador Retriever"],
   ["Maltese", "Maltese"],
   ["Miniature Schnauzer", "Miniature Schnauzer"],
   ["Pitbull", "Pitbull"],
   ["Pomeranian", "Pomeranian"],
   ["Rottweiler Puppy", "Rottweiler Puppy"],
   ["Shiba Inu", "Shiba Inu"],
   ["Shih Tzu", "Shih Tzu"],
   ["Siberian Husky", "Siberian Husky"],
   ["Weimaraner", "Weimaraner"],
   ["Vizsla", "Vizsla"],
   ["Yorkie", "Yorkie"]
 ]), {}, class: "custom-dropdown" %>
</div>

        <%= form.submit "Submit", class: 'button-52', id:'loaderstart' %>
      <% end %>
    </div>


</div>

 <!-- Bottom ends -->
</div>

</div>

</div>
</section>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    var loader = document.getElementById("loader");
    loader.style.display = "none";
  });
  var factsFetched = false; // Flag to track whether facts have been fetched

  function fetchDogFact() {
    $.ajax({
      url: '/fetch_dog_facts', // Route to your controller action
      method: 'GET',
      success: function (data) {
        $('#apiResponse').text('"' + data + '"'); // Update the content with the new dog fact
      },
      error: function (error) {
        console.error('Error fetching dog fact:', error);
      }
    });
  }

  // Attach a click event listener to the button
  $('#myButton').on('click', function () {
    if (!factsFetched) { // Check if facts have not been fetched yet
      fetchDogFact(); // Fetch dog fact for the first time when the button is clicked
      factsFetched = true; // Set the flag to indicate that facts have been fetched
    }
  });

  // Attach a click event listener to the button
  $('#loaderstart').on('click', function () {
    var loader = document.getElementById("loader");
    loader.style.display = "flex";
    // if (!factsFetched) { // Check if facts have not been fetched yet
    //   fetchDogFact(); // Fetch dog fact for the first time when the button is clicked
    //   factsFetched = true; // Set the flag to indicate that facts have been fetched
    // }
  });
  // Call fetchDogFact every 7 seconds after the first button click
  setInterval(function () {
    if (factsFetched) { // Check if facts have been fetched
      fetchDogFact();
    }
  }, 7000);
</script>
