<%= wicked_pdf_stylesheet_link_tag 'pet_report' %>
<div class="container">
  <div class="head">
    <%= image_tag wicked_pdf_asset_base64("header2.png"), style: "height: 350px;" %>
  </div>
</div>

<div class="container c2">
  <table class="two-column-table">
    <tr>
      <td class="left-column">
        <img src="<%= @image %>" style="height:400px;width:400px;">
      </td>
      <td class="right-column">
        <table class="details-table">
          <tr>
            <th colspan="2" class="boody-head">Pet Details</th>
          </tr>
          <tr>
            <td>Pet Name:</td>
            <td><%= @name %></td>
          </tr>
          <tr>
            <td>Pet Age:</td>
            <td><%= @age %></td>
          </tr>
          <tr>
            <td>Pet Activity:</td>
            <td><%= @activity %></td>
          </tr>
          <tr>
            <td>Pet Breed:</td>
            <td><%= @breed %></td>
          </tr>
          <tr>
            <td>Pet Weight:</td>
            <td><%= @weight %></td>
          </tr>
          <tr>
            <td>Pet Food Needed:</td>
            <td><%= @dogcups %></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
<div class="pet information">
    Best suggested food for pet : <%= @dognutrition %><br>
    Symptoms of rabies : <%= @symptom1 %> <br>
    Causes of rabies : <%= @cause1 %> <br>
    Remedies of Alzhiemer : <%= @remedy1 %> <br>
    Symptoms of Alzhiemer : <%= @symptom2 %> <br>
    Causes of Alzhiemer : <%= @cause2 %> <br>
    Remedies of rabies : <%= @remedy2 %> <br>
    Symptoms of Lupus : <%= @symptom3 %> <br>
    Causes of Lupus : <%= @cause3 %> <br>
    Remedies of Lupus : <%= @remedy3 %> <br>
   </div>
  </div>
