<%= wicked_pdf_stylesheet_link_tag 'pet_report1' %>
<div class="div0 heading">
  <h1>
  <b><div class="heading"><p style="position:relative;z-index:10;font-size:45px;">  Devs 'N' Revs Care : Pet Analysis Report </p></div></b>
  </h1>
  <p style="position:relative;z-index:10;">
  This page contains the analysis and report of the dogs whose images are uploaded in our website.
  This page contains the analysis and report of the dogs whose images are uploaded in our website.
  This page contains the analysis and report of the dogs whose images are uploaded in our website.
  </p>
  </div>
 <br>
<div class="div1">
  <%= wicked_pdf_image_tag 'pdf-bullet.png',class:"pdf-bullet",style:"bottom:5px;" %>
  <div class="left-head">
    Pet Details
    <center><hr style="border-top: 2px solid black;width:90%;"></center>
  </div>
  <div class="left-box1">
    <div class="left-box1-left" style="font-size:19px;">
     Name : Tommy <br>
     Age : 3 years <br>
     Weight: 50 lbs <br>
    </div>
    <div class="left-box1-right" style="font-size:19px;">
     Breed : Labro <br>
     Activity : Active <br>
     Age in (Human Years) : 12 years
    </div>
  </div>
  <%= wicked_pdf_image_tag 'pdf-bullet.png',class:"pdf-bullet",style:"bottom:5px;" %>
  <div class="left-head" style="color:black;">
    Breed Based Food Tips
    <center><hr style="border-top: 2px solid black;width:90%;"></center>
  </div>
  <div class="left-box2" style="padding-right:4px;">
<%= wicked_pdf_image_tag 'pdf-bullet-golden.png',class:"pdf-bullet",style:"bottom:5px;" %>
<div class="left-box2-text">
  This page contains the analysis and report of the dogs whose images are uploaded in our website.
</div><br>
<%= wicked_pdf_image_tag 'pdf-bullet-golden.png',class:"pdf-bullet",style:"bottom:5px;" %>
<div class="left-box2-text">
  This page contains the analysis and report of the dogs whose images are uploaded in our website.
</div><br>
<%= wicked_pdf_image_tag 'pdf-bullet-golden.png',class:"pdf-bullet",style:"bottom:5px;" %>
<div class="left-box2-text">
  This page contains the analysis and report of the dogs whose images are uploaded in our website.
</div><br>
<%= wicked_pdf_image_tag 'pdf-bullet-golden.png',class:"pdf-bullet",style:"bottom:5px;" %>
<div class="left-box2-text">
  This page contains the analysis and report of the dogs whose images are uploaded in our website.
</div>
  </div>

  <%= wicked_pdf_image_tag 'pdf-bullet.png',class:"pdf-bullet",style:"bottom:5px;" %>
  <div class="left-head">
    Breed Based Analysis
    <center><hr style="border-top: 2px solid black;width:90%;"></center>
    <div class="left-box1">
      <div class="left-box2-first" style="font-size:19px;">
      <div style="border:1px solid black;padding-left:10%;">
           Parameter
      </div>
      <div style="border:1px solid black;padding-left:10%;">
           Weight
      </div>
      <div style="border:1px solid black;padding-left:10%;">
           Height
      </div>
      <div style="border:1px solid black;padding-left:10%;">
           Activity
      </div>
      </div>
      <div class="left-box2-first" style="font-size:19px;">
        <div style="border:1px solid black;padding-left:10%;">
             Expected
        </div>
        <div style="border:1px solid black;padding-left:10%;">
             5kg-6kg
        </div>
        <div style="border:1px solid black;padding-left:10%;">
             60cm-70cm
        </div>
        <div style="border:1px solid black;padding-left:6%;">
             Typical/Active
        </div>
      </div>
      <div class="left-box2-second" style="font-size:19px;">
        <div style="border:1px solid black;padding-left:10%;">
             Current
        </div>
        <div style="border:1px solid black;padding-left:10%;">
             5.2kg
        </div>
        <div style="border:1px solid black;padding-left:10%;">
             65cm
        </div>
        <div style="border:1px solid black;padding-left:10%;">
             Active
        </div>
      </div>
      <div class="left-box2-second" style="font-size:19px;">
        <div style="border:1px solid black;padding-left:10%;">
             Status
        </div>
        <div style="border:1px solid black;padding-left:10%;">
             Normal
        </div>
        <div style="border:1px solid black;padding-left:10%;">
             Normal
        </div>
        <div style="border:1px solid black;padding-left:10%;">
             Normal
        </div>
      </div>
      </div>
  </div>
<br>
  <%= wicked_pdf_image_tag 'pdf-bullet.png',class:"pdf-bullet",style:"bottom:5px;" %>
  <div class="left-head" style="color:black;">
    Breed Based Food Tips
    <center><hr style="border-top: 2px solid black;width:90%;"></center>
  </div>

</div>

<div class="div2" style="height:1160px;">
  <%= wicked_pdf_image_tag 'pdf-bullet.png',class:"pdf-bullet" %>Content for div 2
</div>
<div class="">
  <%=  wicked_pdf_image_tag 'stamp.png' ,style:"width:200px;position:fixed;top:85%;left:78%;border-radius:10px;z-index:30;"%>
</div>
<div class="watermark">
  <%=  wicked_pdf_image_tag 'logo.png' ,style:"border:none;border-radius:50%;width:200%;opacity: 0.1;"%>
</div>
<div class="design" >
</div>
