<%= wicked_pdf_stylesheet_link_tag 'pet_report1' %>
<div class="div0 heading">
  <h1>
  <b><div class="heading"><p style="position:relative;z-index:10;font-size:45px;">  Devs 'N' Revs Care : Pet Analysis Report </p></div></b>
  </h1>
  <p style="position:relative;z-index:10;">
  Welcome to the Pet Analysis Report provided by Devs 'N' Revs Care. This detailed report offers a deep dive into the analysis of the dogs whose images have been uploaded to our website. We understand the importance of your furry companions, and this report aims to provide valuable insights into their health, behavior, and overall well-being.
  </p>
</div>
 <br>
<div class="div1">
  <%= image_tag wicked_pdf_asset_base64('pdf-bullet.png'),class:"pdf-bullet",style:"bottom:5px;" %>
  <div class="left-head">
    Pet Details
    <center><hr style="border-top: 2px solid black;width:90%;"></center>
  </div>
  <div class="left-box1">
    <div class="left-box1-left" style="font-size:19px;">
     Name : <%= @name%> <br>
     Age : <%= @age%> years <br>
     Weight: <%= @weight%> lbs <br>
    </div>
    <div class="left-box1-right" style="font-size:19px;">
     Breed : <%= @breed%> <br>
     Activity : <%= @activity%> <br>
     Age in (Human Years) : <%= @human_age %> years
    </div>
  </div>
  <%= image_tag wicked_pdf_asset_base64('pdf-bullet.png'),class:"pdf-bullet",style:"bottom:5px;" %>
  <div class="left-head" style="color:black;">
    Breed Based Food Tips
    <center><hr style="border-top: 2px solid black;width:90%;"></center>
  </div>
  <div class="left-box2" style="padding-right:4px;">
    <div class="left-box2-text" style="padding-right:4px">
      <% @dognutrition = @dognutrition.gsub("\u2019", "'") %>
      <% @dognutrition.split(/\d+\.\s+/)[1..-1].each do |content| %>
        <%= image_tag wicked_pdf_asset_base64('pdf-bullet-golden.png'), class: "pdf-bullet", style: "bottom: 5px;" %>
        <%= content.strip %><br>
      <% end %>
    </div>

  </div>

  <%= image_tag wicked_pdf_asset_base64('pdf-bullet.png'),class:"pdf-bullet",style:"bottom:5px;" %>
  <div class="left-head">
    Breed Based Analysis
    <center><hr style="border-top: 2px solid black;width:90%;"></center>
    <div class="left-box1">
      <div class="left-box2-first" style="font-size:19px;">
      <div style="border:1px solid black;padding-left:10%;">
           Parameter
      </div>
      <div style="border:1px solid black;padding-left:10%;">
           Weight
      </div>
      <div style="border:1px solid black;padding-left:10%;">
           Height
      </div>
      <div style="border:1px solid black;padding-left:10%;">
           Activity
      </div>
      </div>
      <div class="left-box2-first" style="font-size:19px;color:black">
        <div style="border:1px solid black;padding-left:10%;">
             Expected
        </div>
        <div style="border:1px solid black;padding-left:10%;">
            <%= @dogweightrange %>
        </div>
        <div style="border:1px solid black;padding-left:10%;">
             <%= @dogheightrange %>
        </div>
        <div style="border:1px solid black;padding-left:6%;">
             Typical/Active
        </div>
      </div>
      <div class="left-box2-second" style="font-size:19px;">
        <div style="border:1px solid black;padding-left:10%;">
             Current
        </div>
        <div style="border:1px solid black;padding-left:10%;">
             <%= @weight%> lbs
        </div>
        <div style="border:1px solid black;padding-left:10%;">
             <%= @height%> inches
        </div>
        <div style="border:1px solid black;padding-left:10%;">
          <% if @activity == "Senior, neutered, inactive"%>
             Inactive
          <% elsif @activity[0] == 'W' %>
             Working
          <% elsif @activity[0] == 'H' %>
             Active
          <% else %>
             <%= @activity %>
          <% end %>
        </div>
      </div>
      <div class="left-box2-second" style="font-size:19px;color:#00A9FF">
        <div style="border:1px solid black;padding-left:10%;">
             Status
        </div>
        <div style="border:1px solid black;padding-left:10%;">
          <% min_weight, max_weight = @dogweightrange.split('-').map(&:to_i) %>
          <% @weight_int = @weight.to_i%>
          <% if @weight_int >= min_weight && @weight_int <= max_weight %>
             Normal
          <% else %>
             Abnormal
          <% end %>
        </div>
        <div style="border:1px solid black;padding-left:10%;">
          <% min_height, max_height = @dogheightrange.split('-').map(&:to_i) %>
          <% @height_int = @height.to_i%>
          <% if @height_int >= min_height && @height_int <= max_height %>
             Normal
          <% else %>
             Abnormal
          <% end %>
        </div>
        <div style="border:1px solid black;padding-left:10%;">
          <% if @activity != "Overweight" || @activity == "Senior, neutered, inactive" %>
             Normal
          <% else %>
             Abnormal
          <% end %>
        </div>
      </div>
      </div>
  </div>
  <br>
  <%= image_tag wicked_pdf_asset_base64('pdf-bullet.png'),class:"pdf-bullet",style:"bottom:5px;" %>
  <div class="left-head" style="color:black;">
    Pet Food Needed
    <center><hr style="border-top: 2px solid black;width:90%;"></center>
  </div>
  <div class="pet information">
    <div style="text-align:center; justify-content:center"> The pet amount of pet food needed based on your pet's weight and activity:<div id="dogFoodImages">
      <br>
      <% (1..@dogcups.ceil).each do |i| %>
          <%= image_tag wicked_pdf_asset_base64("dogfoodani.png"), style: "height: 40px; width: 40px; margin:3px" %>
      <% end %>
</div><br>
    <%=@dogcups%> cups</div>
  </div>
</div>

<div class="div2" style="height:1190px;">
  <%= image_tag wicked_pdf_asset_base64('pdf-bullet.png'),class:"pdf-bullet",style:"bottom:5px;" %>
  <div class="right-head">
    Diagnosis
    <center><hr style="border-top: 2px solid black;width:90%;"></center>
  </div>
  <div class="right-box1-text" style="font-size:15px;">
    The findings of the diagnosis indicate the possible diseases that your dog could have below:
  </div>
  <br>
    <div class="right-box-table" style="margin-left:40px">
      <div class="right-box-table-first" style="font-size:15px;">
      <div style="border:1px solid black;padding-left:10%;">
           <b>Disease Detected</b>
      </div>
      <div style="border:1px solid black;padding-left:10%;">
           <%= @parsed_predictions[0][:class_index]%>
      </div>
      <div style="border:1px solid black;padding-left:10%;">
           <%= @parsed_predictions[1][:class_index]%>
      </div>
      <div style="border:1px solid black;padding-left:10%;">
           <%= @parsed_predictions[0][:class_index]%>
      </div>
      </div>
      <div class="right-box-table-first" style="font-size:15px;color:black">
        <div style="border:1px solid black;text-align:center;">
             <b> Probability</b>
        </div>
        <div style="border:1px solid black;text-align:center">
              <%= sprintf("%.2f",  @parsed_predictions[0][:probability]*100) %> %
        </div>
        <div style="border:1px solid black;text-align:center">
             <%= sprintf("%.2f",  @parsed_predictions[1][:probability]*100) %> %
        </div>
        <div style="border:1px solid black;text-align:center">
             <%= sprintf("%.2f",  @parsed_predictions[2][:probability]*100) %> %
        </div>
      </div>
    </div>
    <br>
  <div class="right-box1-subhead">
    <%= @parsed_predictions[0][:class_index]%>
    <%# <%= @predictions %>
    </div>
    <div class="right-box1">
      <div class="right-box1-left" style="font-size:15px;">
       <%= @general_dogs.to_i/20.0 %> of every 5 dogs affected <br>
       <div class="example">
         <div class="pie" data-value="<%= @general_dogs %>" style="background-color:green"></div>
         </div>
      </div>
      <div class="right-box1-center" style="font-size:15px;">
       <%= @breed_dogs.to_i/20.0 %> of every 5 this breed affected<br>
       <div class="example">
         <div class="pie" data-value="<%= @breed_dogs %>" style="background-color:blue"></div>
         </div>
      </div>
      <div class="right-box1-right" style="font-size:15px;">
       Severity of this disease <br>
       <div class="example">
         <div class="pie" data-value="<%= @severity %>" style="background-color:orange"></div>
         </div>
      </div>
    </div>

    <%=image_tag wicked_pdf_asset_base64('pdf-bullet.png'),class:"pdf-bullet-small",style:"bottom:5px;" %>
    <div class="right-box1-box2-head">
      Causes
    </div>
    <div class="right-box1-box2">
    <%= @causes %>




    </div>

    <%= image_tag wicked_pdf_asset_base64('pdf-bullet.png'),class:"pdf-bullet-small",style:"bottom:5px;" %>
    <div class="right-box1-box2-head">
      Symptoms
    </div>
    <div class="right-box1-box2" style="background-color:orange">

        <%= @symptoms %>
    </div>
    <%= image_tag wicked_pdf_asset_base64('pdf-bullet.png'),class:"pdf-bullet-small",style:"bottom:5px;" %>
    <div class="right-box1-box2-head">
      Remedies
    </div>
    <div class="right-box1-box2">

    <%= @remedies %>
    </div>


<div class="">
  <%= image_tag wicked_pdf_asset_base64( 'stamp12.png') ,style:"width:350px;position:fixed;top:1105px;left:660px;border-radius:10px;z-index:30;overflow:hidden"%>
</div>
<div class="watermark">
  <%=  image_tag wicked_pdf_asset_base64( 'logo.png') ,style:"border:none;border-radius:50%;width:200%;opacity: 0.1;"%>
</div>
<div class="design" >
</div>
